{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <!-- css files -->

        <!-- script files-->

    </head>
    <body>

        <header id="top-bar">

            <nav id="top-bar-left">
                <a href="/" class="img-home-link"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
                <a href="/" class="home-link">Playfab</a>
            </nav>
        
            <div id="top-bar-right">
        
                <!-- <?php if ($data['user']): ?> -->
        
                    <!-- <div id="user-navigation">
        
                        <img src="<?php
                            echo '/statics/img/profile-avatars/' . ($data['user']['avatar'] ?? 'default') . '.jpg';
                        ?>" alt="profile avatar" class="profile-avatar">
        
                        <a href="" id="dropdown-toggle" onClick=""><?php
                            if ($data['user']['firstName']) echo $data['user']['firstName'];
                            else echo $data['user']['email']
                        ?> &#x21B4;</a>
        
                        <div id="user-menu" class="dropdown-menu">
                            <div class="dropdown-menu-group">
                                <div class="menu-item">
                                    <a href="/user-panel/profile">Profile</a>
                                </div>
                            </div>
                            <div class="dropdown-menu-group">
                                <div class="menu-item">
                                    <a href="/user-panel/settings">Settings</a>
                                </div>
                            </div>
                            <div class="dropdown-menu-group">
                                <div class="menu-item">
                                    <form action="/logout" method="POST">
                                        <button type="submit" id="logout-btn" onClick="">Log out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
        
                    </div> -->
        
                <!-- <?php else: ?> -->
        
                    <nav id="sign-buttons">
                        <a href="/login"><button id="sign-in-btn" class="sign-btn">Sign in</button></a>
                        <a href="/registration"><button id="sign-up-btn" class="sign-btn">Sign up</button></a>
                    </nav>
        
                <!-- <?php endif; ?> -->
        
            </div>
        
        </header>
        
        <!-- FLASH MESSAGES -->
        <ul id="flash-messages-list">
            <!-- foreach ($data['flash'] as $flash)
                echo <<< FLASH
                    <li onclick="this.remove()">
                        <div class="flash-message-{$flash['type']}">{$flash['message']}</div>
                    </li>
                FLASH; -->
        </ul>

        <main>
            {% block mainContent %}
            {% endblock %}
        </main>

    </body>
</html>